* {
  margin: 0px;
  padding: 0px;
}

:root {
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(0, 0%, 69%);
  --Grayish-Blue: hsl(234, 62%, 62%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  --Linear-Gradient: hsl(237, 63%, 64%);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Very-Light-Grayish-Blue);
  width: 1440px;
  height: 100%;
  margin: auto;

  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-size: 30% 60%, 25% 40%;
  background-position: top right, left bottom;
  background-repeat: no-repeat;
}

.main-txt {
  display: flex;
  margin-top: 90px;
  margin-bottom: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pri-btn {
  font-size: 20px;
  margin-bottom: 20px;
}
.toggle {
  display: flex;
  align-items: center;
}

.line {
  height: 1px;
  width: 90%;
  border: none;
  background-color: var(--Light-Grayish-Blue);
}

.prices {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: black;
}

.learn-btn {
  align-self: center;
  border: none;
  width: 270px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--Linear-Gradient);
}

.learn-font {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
}

.pricing {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 100px;
  color: var(--Dark-Grayish-Blue);
}

.basic {
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  background-color: white;
}

.prof {
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
  height: 420px;
  width: 290px;
  padding: 30px;
  justify-content: space-between;
  border-radius: 5px;
  border-width: 1px;
  color: var(--Very-Light-Grayish-Blue);
  background-color: var(--Linear-Gradient);
}

.prof-price {
  color: white;
  font-size: 40px;
}

.prof-learn {
  background-color: white;
  color: var(--Linear-Gradient);
  width: 260px;
}

.master {
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 300px;
  padding: 20px;
  margin-top: 20px;
  margin: auto;
  border-radius: 5px;
  border-width: 1px;
  justify-content: space-between;
  background-color: white;
}
