* {
  margin: 0px;
  padding: 0px;
}

:root {
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(0, 0%, 69%);
  --Grayish-Blue: hsl(234, 62%, 62%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Very-Light-Grayish-Blue);
  width: 70%;
  height: 80%;
  margin: auto;
  margin-top: 3%;
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-size: 20% 60%, 20% 40%;
  background-position: top right, left bottom;
  background-repeat: no-repeat;
}

.main-txt {
  display: flex;
  margin-top: 70px;
  margin-bottom: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pri-btn {
  font-size: 20px;
  margin-bottom: 20px;
}
.toggle {
  display: flex;
  align-items: center;
}

.line {
  height: 1px;
  width: 90%;
  border: none;
  background-color: var(--Light-Grayish-Blue);
}

.prices {
  display: flex;
  align-items: center;
  font-size: 21px;
  color: black;
}

.learn-btn {
  align-self: center;
  border: none;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--Grayish-Blue);
}

.learn-font {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
}

.pricing {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 100px;
  color: var(--Grayish-Blue);
}

.basic {
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  background-color: white;
}

.basic:hover {
  opacity: 0.8;
  color: var(--Very-Light-Grayish-Blue);
  background-color: var(--Grayish-Blue);
  .learn-btn {
    background-color: var(--Very-Light-Grayish-Blue);
    color: var(--Grayish-Blue);
  }
  .prices {
    color: white;
  }
}

.prof {
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 300px;
  padding: 30px;
  justify-content: space-between;
  border-radius: 5px;
  border-width: 1px;
  background-color: white;
}

.prof:hover {
  opacity: 0.8;
  color: var(--Very-Light-Grayish-Blue);
  background-color: var(--Grayish-Blue);
  .learn-btn {
    background-color: var(--Very-Light-Grayish-Blue);
    color: var(--Grayish-Blue);
  }
  .prices {
    color: white;
  }
}

.master {
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 300px;
  padding: 20px;
  margin-top: 20px;
  margin: auto;
  border-radius: 5px;
  border-width: 1px;
  justify-content: space-between;
  background-color: white;
}

.master:hover {
  opacity: 0.8;
  color: var(--Very-Light-Grayish-Blue);
  background-color: var(--Grayish-Blue);
  .learn-btn {
    background-color: var(--Very-Light-Grayish-Blue);
    color: var(--Grayish-Blue);
  }
  .prices {
    color: white;
  }
}
